.cprofile {

    margin: 10;
  }
  

  
  .images{
     
      width: 250px;
      margin: 2%;
  }
  
  .cprofile a{
      color: black;
  }
  
  .cprofile {
    border-radius: 15px;
    width: 300px;
    height: 300px;
    margin: 30px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .cp_profile {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .cp_profile {
     
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      place-items: center;
    }