.skills {
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: #3e497a;
}

.skills-container {
  display: flex;
  justify-content: center;
}

.skills-table {
  border: 2px solid #121d30; 
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.skills-table th {
  background-color: #f7fafc; 
  color: #1e223d;
  border: 2px solid #4a5568;
  padding: 0px 10px 0px 10px;
  text-align: center;
}

.skills-table td {
  padding: 4px;
  border: 2px solid #4a5568;
}

.skills-blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skills-block {
  padding: 6px 12px;
  margin:  5px 1px;
  background-color: #bfdbfe; 
  color: #1e3a8a;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} 
